@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hamburger-line {
    @apply h-[2px] w-5 origin-right rounded-full bg-white transition-all duration-300;
  }

  .line-1 {
    @apply w-line-width -translate-y-[1px] -rotate-45;
  }

  .line-2 {
    @apply w-0 opacity-0;
  }

  .line-3 {
    @apply w-line-width translate-y-[1px] rotate-45;
  }

  .section-contain {
    @apply mx-auto max-w-[1440px] px-6 md:px-16;
  }

  .job-card {
    @apply grid w-full place-content-center rounded-lg;
  }
}

:root {
  --annika-blue: #0A66C2;
  --annika-pink: #F8D5D3;
  --annika-lightGreen: #BDA632;
  --annika-darkGreen: #5B5020;
  --annika-cream: #DBE2C4;
  --annika-orange: #ED6228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/backgound.png');
  background-repeat: repeat-y;
  background-size: cover;
}